body {
    background: #fae3d9;
    color: #000000;
}

.main {
    margin: 20px;
    max-width: 1200px;
}

.search-form {
    margin: 15px;
}

.card {
    background: #ffffff;
    margin: 15px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

.caption {
    font-size: 10px;
}